body{
    background-color: hsl(0, 0%, 90%);
    color: hsl(60, 10%, 19%);
}
input[type=range]{
    background-color: hsl(0, 0%, 90%);
}
input[type=range]::-webkit-slider-runnable-track {
    background: hsl(0, 5%, 81%);
}
input[type=range]::-webkit-slider-thumb {
    background: hsl(25, 98%, 40%);
}
.display{
    background-color: hsl(0, 0%, 93%);
}
.keypad{
    background-color: hsl(0, 5%, 81%);
}
.btn{
    background-color: hsl(45, 7%, 89%);
    color: hsl(60, 10%, 19%);
    box-shadow: 0px 5px hsl(35, 11%, 61%);
    &:active{
        transform: translateY(3px);
        box-shadow: 0px 3px hsl(35, 11%, 61%);
    }
}
.reset-btn, .del-btn{
    color: hsl(0, 0, 100%);
    background-color: hsl(185, 42%, 37%);
    box-shadow: 0px 5px hsl(185, 58%, 25%);
    &:active{
        transform: translateY(3px);
        box-shadow: 0px 3px hsl(185, 58%, 25%);
    }
}
.result-btn{
    color: hsl(0, 0, 100%);
    background-color: hsl(25, 98%, 40%);
    box-shadow: 0px 5px hsl(25, 99%, 27%);
    &:active{
        transform: translateY(3px);
        box-shadow: 0px 3px hsl(25, 99%, 27%);
    }
}