.theme-1 {
  background-color: hsl(222deg, 26%, 31%);
  color: rgba(231, 231, 231, 0.925);
}
.theme-1 input[type=range] {
  background-color: hsl(222deg, 26%, 31%);
}
.theme-1 input[type=range]::-webkit-slider-runnable-track {
  background: hsl(223deg, 31%, 20%);
}
.theme-1 input[type=range]::-webkit-slider-thumb {
  background: hsl(6deg, 63%, 50%);
}
.theme-1 input[type=range]::-moz-range-track {
  background: hsl(223deg, 31%, 20%);
}
.theme-1 input[type=range]::-moz-range-thumb {
  background: hsl(6deg, 63%, 50%);
}
.theme-1 .display {
  background-color: hsl(224deg, 36%, 15%);
}
.theme-1 .keypad {
  background-color: hsl(223deg, 31%, 20%);
}
.theme-1 .btn {
  color: hsl(226deg, 30%, 36%);
  box-shadow: 0px 5px hsl(33deg, 9%, 77%);
}
.theme-1 .btn:active {
  box-shadow: 0px 3px hsl(30deg, 4%, 59%);
}
.theme-1 .del-btn, .theme-1 .reset-btn {
  color: white;
  background-color: hsl(225deg, 21%, 49%);
  box-shadow: 0px 5px hsl(224deg, 28%, 35%);
}
.theme-1 .del-btn:active, .theme-1 .reset-btn:active {
  box-shadow: 0px 3px hsl(224deg, 28%, 35%);
}
.theme-1 .result-btn {
  color: white;
  background-color: hsl(6deg, 63%, 50%);
  box-shadow: 0px 5px hsl(6deg, 70%, 34%);
}
.theme-1 .result-btn:active {
  box-shadow: 0px 3px hsl(6deg, 70%, 34%);
}

.theme-2 {
  background-color: hsl(0deg, 0%, 90%);
  color: hsl(60deg, 10%, 19%);
}
.theme-2 input[type=range] {
  background-color: hsl(0deg, 0%, 90%);
}
.theme-2 input[type=range]::-webkit-slider-runnable-track {
  background: hsl(0deg, 5%, 81%);
}
.theme-2 input[type=range]::-webkit-slider-thumb {
  background: hsl(25deg, 98%, 40%);
}
.theme-2 input[type=range]::-moz-range-track {
  background: hsl(0deg, 5%, 81%);
}
.theme-2 input[type=range]::-moz-range-thumb {
  background: hsl(25deg, 98%, 40%);
}
.theme-2 .display {
  background-color: hsl(0deg, 0%, 93%);
}
.theme-2 .keypad {
  background-color: hsl(0deg, 5%, 81%);
}
.theme-2 .btn {
  background-color: hsl(45deg, 7%, 89%);
  color: hsl(60deg, 10%, 19%);
  box-shadow: 0px 5px hsl(35deg, 11%, 61%);
}
.theme-2 .btn:active {
  box-shadow: 0px 3px hsl(35deg, 11%, 61%);
}
.theme-2 .reset-btn, .theme-2 .del-btn {
  color: white;
  background-color: hsl(185deg, 42%, 37%);
  box-shadow: 0px 5px hsl(185deg, 58%, 25%);
}
.theme-2 .reset-btn:active, .theme-2 .del-btn:active {
  box-shadow: 0px 3px hsl(185deg, 58%, 25%);
}
.theme-2 .result-btn {
  color: white;
  background-color: hsl(25deg, 98%, 40%);
  box-shadow: 0px 5px hsl(25deg, 99%, 27%);
}
.theme-2 .result-btn:active {
  box-shadow: 0px 3px hsl(25deg, 99%, 27%);
}

.theme-3 {
  background-color: hsl(268deg, 75%, 9%);
  color: hsl(52deg, 100%, 62%);
}
.theme-3 input[type=range] {
  background-color: hsl(268deg, 75%, 9%);
}
.theme-3 input[type=range]::-webkit-slider-runnable-track {
  background: hsl(268deg, 71%, 12%);
}
.theme-3 input[type=range]::-webkit-slider-thumb {
  background: hsl(176deg, 100%, 44%);
}
.theme-3 input[type=range]::-moz-range-track {
  background: hsl(268deg, 71%, 12%);
}
.theme-3 input[type=range]::-moz-range-thumb {
  background: hsl(176deg, 100%, 44%);
}
.theme-3 .display {
  background-color: hsl(268deg, 71%, 12%);
}
.theme-3 .keypad {
  background-color: hsl(268deg, 71%, 12%);
}
.theme-3 .btn {
  background-color: hsl(268deg, 47%, 21%);
  color: hsl(52deg, 100%, 62%);
  box-shadow: 0px 5px hsl(290deg, 70%, 36%);
}
.theme-3 .btn:active {
  box-shadow: 0px 3px hsl(290deg, 70%, 36%);
}
.theme-3 .reset-btn, .theme-3 .del-btn {
  color: white;
  background-color: hsl(281deg, 89%, 26%);
  box-shadow: 0px 5px hsl(285deg, 91%, 52%);
}
.theme-3 .reset-btn:active, .theme-3 .del-btn:active {
  box-shadow: 0px 3px hsl(285deg, 91%, 52%);
}
.theme-3 .result-btn {
  color: hsl(198deg, 20%, 13%);
  background-color: hsl(176deg, 100%, 44%);
  box-shadow: 0px 5px hsl(177deg, 92%, 70%);
}
.theme-3 .result-btn:active {
  box-shadow: 0px 3px hsl(177deg, 92%, 70%);
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 24px;
  padding: 0px 6px;
  cursor: pointer;
  border-radius: 15px;
}

input[type=range]::-webkit-slider-thumb {
  height: 14px;
  width: 14px;
  border-radius: 14px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 5px;
}

input[type=range]::-moz-range-track {
  width: 80%;
  height: 24px;
  padding: 0px 12px;
  cursor: pointer;
  border-radius: 15px;
}

input[type=range]::-moz-range-thumb {
  height: 14px;
  width: 14px;
  border-radius: 14px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 5px;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 22px;
  cursor: pointer;
}

input[type=range]::-ms-fill-lower {
  background: #3071A9;
  border-radius: 20px;
}

input[type=range]::-ms-fill-upper {
  background: #3071A9;
  border-radius: 20px;
}

input[type=range]::-ms-thumb {
  height: 16px;
  width: 16px;
  border-radius: 14px;
  background: #FFFFFF;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

html, body {
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.header h2 {
  font-size: 32px;
}

.theme-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
}

.theme-heading {
  margin-top: 12px;
  margin-right: 12px;
}
.theme-heading h4 {
  letter-spacing: 1px;
  font-size: 14px;
}

.theme-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 38%;
}

.theme-slider-values {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 18px;
}

.display {
  width: 100%;
  padding: 38px 30px 32px 30px;
  border-radius: 8px;
  font-size: 52px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.previous-inputs {
  display: flex;
  flex-direction: row-reverse;
  font-size: 28px;
  overflow-x: auto;
}
.previous-inputs::-webkit-scrollbar {
  background-color: transparent;
  height: 5px;
}
.previous-inputs::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.previous-inputs::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 12px;
}
.previous-inputs:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.486);
}

.current-display {
  display: flex;
  flex-direction: row-reverse;
  overflow-x: auto;
}
.current-display::-webkit-scrollbar {
  background-color: transparent;
  height: 5px;
}
.current-display::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.current-display::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 12px;
}
.current-display:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.486);
}

.keypad {
  width: 100%;
  height: 420px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 28px;
  border-radius: 8px;
}

.btn {
  font-size: 38px;
  border-radius: 8px;
  width: 95px;
  height: 55px;
  padding-top: 3px;
  border: none;
  cursor: pointer;
}
.btn:active {
  transform: translateY(3px);
}

.btn-long {
  width: 48%;
}

.del-btn, .reset-btn {
  font-size: 24px;
}

.attribution {
  margin-top: 24px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}/*# sourceMappingURL=main.css.map */